.ecocart-become-list {
  overflow: hidden;
  padding: 71px 0 36px;

  .container {
    position: relative;
  }
}

.ecocart-become-list__dot {
  left: -170px;
  position: absolute;
  top: -87px;
  z-index: -1;

  img {
    max-width: none;
  }
}

.ecocart-become-list__dot-mobile {
  position: absolute;
  right: -180px;
  top: 30px;
  z-index: -1;

  img {
    max-width: none;
  }
}

.ecocart-become-list__top-img {
  margin-top: 70px;
}

.ecocart-become-list__top {
  margin-top: 54px;

  p {
    margin-top: 26px;
  }
}

.ecocart-become-list__row {
  margin-top: 94px;
}

.ecocart-become-list__content-col {
  p {
    margin-top: 27px;
  }
}

.ecocart-become-list__bottom-title {
  margin-top: 84px;
}

.ecocart-become-list__bottom-img {
  margin-top: 56px;
  text-align: center;
}

.ecocart-become-list__afford-title {
  margin-top: 97px;
}

.ecocart-become-list__afford-card {
  background: $color-white;
  border-radius: 8px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.2);
  padding: 50px;
  text-align: center;
}

.ecocart-become-list__afford-card-title {
  margin-top: 60px;
}

.ecocart-become-list__afford-card-price {
  margin-top: 6px;
}

.ecocart-become-list__afford-card-content {
  margin-top: 22px;
}

.ecocart-become-list__afford-grid {
  margin-top: 70px;
}

.ecocart-become-list__afford-link {
  margin-top: 40px;
  text-align: center;
}

#js-ecocart-become-list__become-carbon-neutral-animation-top {
  margin: 0 auto;
  max-width: 1081px;
}

#js-ecocart-become-list__become-carbon-neutral-animation-0 {
  margin: 0 auto;
  max-width: 512px;
}

#js-ecocart-become-list__become-carbon-neutral-animation-1 {
  margin: 0 auto;
  max-width: 480px;
}

#js-ecocart-become-list__become-carbon-neutral-animation-bottom {
  margin: 0 auto;
  max-width: 1233px;
}

@media(max-width: $breakpoint-mobile-start-max) {
  .ecocart-become-list__dot {
    display: none;
  }

  .ecocart-become-list__content-col {
    margin-top: 56px;
  }

  .ecocart-become-list__afford-card+.ecocart-become-list__afford-card {
    margin-top: 22px;
  }
}

@media(min-width: $breakpoint-mobile-start-min) {
  .ecocart-become-list {
    padding: 77px 0 0;
  }

  .ecocart-become-list__top {
    margin: 125px auto 0;
    max-width: 900px;
  }

  .ecocart-become-list__top-img {
    margin-top: 100px;
    text-align: center;
  }

  .ecocart-become-list__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 190px;
  }

  .ecocart-become-list__row-reverse {
    flex-direction: row-reverse;
  }

  .ecocart-become-list__img-col {
    width: 500px;

    img {
      max-width: none;
    }
  }

  .ecocart-become-list__content-col {
    width: 500px;
  }

  .ecocart-become-list__row-reverse {
    margin-top: 87px;

    .ecocart-become-list__content-col {
      padding-left: 40px;
    }
  }

  .ecocart-become-list__content-col-inner {
    max-width: 400px;
  }

  .ecocart-become-list__bottom-img {
    margin-top: 100px;
  }

  .ecocart-become-list__afford-grid {
    column-gap: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 92px;
  }

  .ecocart-become-list__afford-card {
    padding: 56px 30px 64px;
  }

  .ecocart-become-list__afford-card-img {
    align-items: flex-end;
    display: flex;
    height: 150px;
    justify-content: center;

    img {
      max-height: 100%;
    }
  }

  .ecocart-become-list__afford-card-title {
    margin-top: 70px;
  }

  .ecocart-become-list__afford-card-content {
    margin: 16px auto 0;
    max-width: 180px;
  }

  .ecocart-become-list__afford-title {
    margin-top: 41px;
  }

  .ecocart-become-list__afford-link {
    margin-top: 73px;
  }

  .ecocart-become-list__top-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  #js-ecocart-become-list__become-carbon-neutral-animation-0 {
    height: 341px;
    width: 512px;
  }

  #js-ecocart-become-list__become-carbon-neutral-animation-1 {
    height: 497px;
    width: 480px;
  }

  .ecocart-become-list__dot-mobile {
    display: none;
  }
}
