<section class="ecocart-logo-list {% if title %}ecocart-logo-list--small-padding-top{% endif %}">
    <div class="container">
        {% if title %}
            <div class="ecocart-logo-list__title">{{ title }}</div>
        {% endif %}
        <div class="ecocart-logo-list__row">
            {% for logo in logo_list %}
                <div class="ecocart-logo-list__img">
                    <img
                        class="lazyload"
                        data-src="{{ logo.image.src }}"
                        data-sizes="auto"
                        alt="{{ logo.image.alt|e }}"
                    />
                </div>
            {% endfor %}
        </div>
    </div>
</section>