.ecocart-challenge {
  padding: 55px 0;
}

.ecocart-challenge__content {
  margin-top: 30px;
  padding-left: 25px;
  position: relative;

  &::before {
    background-color: $color-teal;
    bottom: 9px;
    content: '';
    left: 0;
    position: absolute;
    top: 9px;
    width: 7px;
  }

  p+p {
    margin-top: 28px;
  }
}

@media(min-width: $breakpoint-mobile-start-min) {
  .ecocart-challenge {
    padding: 89px 0;
  }

  .ecocart-challenge__content {
    margin-top: 84px;
  }
}
