<section class="ecocart-content-page">
    <div class="ecocart-content-page__container">
        <div class="ecocart-content-page__title">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="ecocart-content-page__content">
            {{ post.content }}
        </div>
    </div>
</section>